*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --background-color: black;
    --primary-color:rgb(163, 255, 5);
    --secondary-color:rgb(7, 131, 255);
}

html{
    box-sizing: border-box;
    background-color: var(--background-color);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

section{
    position: absolute;
    border: 5px solid var(--primary-color);
    border-radius: 15px;
    padding: 25px;
    width: 500px;
    background-color: white;
}

.answer-options{
    margin: 2rem 0;
}

.list{
    list-style: none;
}

.answer-list li{
    margin: 20px 0;
}

.answer{
    accent-color: var(--primary-color);
}

.answer-list label {
    margin-left: 5px;
}

.btn{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 30px;
    font-size: medium;
    font-weight: bold;
    color: rgb(21, 79, 0);
}

.btn:hover {
    background-color: rgb(138, 216, 3);
}

.quizInfo{
    font-size: large;
    font-weight: bold;
    margin-left: 100px;
}

.hidden{
    visibility: hidden;
}

.welcome-screen{
    text-align: center;
}
.welcome-screen p, h1 {
    margin: 20px auto;
}