*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --background-color: black;
    --primary-color:rgb(163, 255, 5);
    --secondary-color:rgb(7, 131, 255);
}

html{
    box-sizing: border-box;
    background-color: var(--background-color);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.quiz-section{
    border: 5px solid var(--primary-color);
    border-radius: 15px;
    padding: 25px;
    width: 500px;
    background-color: white;
}

.answer-options{
    margin: 2rem 0;
}

.list{
    list-style: none;
}

.answer-list li{
    margin: 20px 0;
}

.answer{
    accent-color: var(--primary-color);
}

.answer-list label {
    margin-left: 5px;
}

.btn-check-answer{
    background-color: var(--primary-color);
    border: none;
    padding: 10px 30px;
    font-size: medium;
    font-weight: semibold;
}